*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 60px;
  background: linear-gradient(to right, rgb(249, 173, 185), rgb(98, 199, 240));
  position: relative;
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0;
  }
}
